@model TicketTracker.Models.CardView
@{
    ViewBag.Title = "cards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Row -->
<div class="row">
    <div class="col-lg-6 mb-4">
        <!-- Approach -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"></h6>
            </div>
            <div class="card-body">
                @Model.id
                @Model.name
                @Model.progress
                @Model.description
            </div>
        </div>
    </div>
</div>